:root {
    --color-white: #F2EDEB;
    --color-black: #2E2E3A;
    --color-red: #E3331B;
    --color-teal: #087E8B;
    --color-green: #2A9D8F;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* outline: 1px solid red; */
    font-family: 'Montserrat', sans-serif;
}

html, body {
    min-height: 100%;
    background-color: white;
}

.container-wide {
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    border-bottom: 2px solid var(--color-black);
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.section-description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.section-title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-container {
    padding: 2rem 0;
}

.card {
    margin: 1rem 0;
    padding: 2rem;
    border: 2px solid var(--color-black);
    border-radius: calc(2rem);

    font-size: 1rem;

    background-color: var(--color-white);
    box-shadow: 0 0 5px 5px #f8f8f8;

    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-items: stretch;
    align-content: stretch;
    gap: 2rem;
}

.card .left {
    display: flex;
    flex-direction: column;
    flex: 1;

    border-right: 2px solid var(--color-black);
}

.card h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.card .right {
    flex: 4;
}

.card .right p:not(:last-child) {
    margin-bottom: 1rem;
}

.card .right li:not(:last-child) {
    margin-bottom: 0.5rem;
}

ol, ul {
    list-style: none;
    counter-reset: item;
    margin-bottom: 1rem;
}

ol > li {
    counter-increment: item;
    
}

ol > li:before {
    margin-right: 10px;
    content: counter(item);
    background: var(--color-black);
    border-radius: 100%;
    color: var(--color-white);
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

ol.two-column {
    column-count: 2;
}


ul > li:not(.member-item):before {
    margin-right: 10px;
    content: '';
    background: var(--color-black);
    border-radius: 100%;
    color: var(--color-white);
    width: 1.2em;
    text-align: center;
    display: inline-block;
}

/* Headers */

header {
    background-color: var(--color-black);
    position: sticky;
    top: 0;
    z-index: 999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding: 0 10px;
}

header a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
}

/* Home */

.home-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    height: 90vh;
}

.home-container > div {
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
    gap: 2rem;
}

#logo-div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-div img {
    max-width: 300px;
    transition: transform 0.2s ease-in-out;
}

#home-content {
    flex: 2;
}

#intro {
    font-size: 3rem;
    font-weight: 700;
}

#group-name {
    cursor: pointer;
}

#title {
    font-weight: 700;
    color: var(--color-red);
}

#home-desc {
    font-size: 1.2rem;
    line-height: 1.5;
}

#team-members ul {
    display: flex;
    /* justify-content: center; */
    gap: 2rem;

    list-style: none;
}

#team-members li {
    padding: 1rem 2rem;
    border: 2px solid var(--color-black);
    border-radius: calc(2rem);

    font-size: 1rem;
    font-weight: 700;

    background-color: var(--color-white);
    color: var(--color-black);

    transition: transform 0.2s ease-in-out;
    box-shadow: 0 0 5px 5px #f8f8f8;
}

/* Animations */

.grow {
    transform: scale(1.1);
}

/* Media */

@media screen and (max-width: 768px) {
    .card {
        flex-direction: column;
        gap: 0;
    }

    .card .left {
        flex-direction: column-reverse;
        border-right: none;
    }

    .card .right p,
    .card .right li {
        text-align: justify;
    }
}

@media screen and (max-width: 1024px) {
    .card .right {
        flex: 2;
    }

    .home-container {
        flex-direction: column;
        gap: 0;
        justify-content: center;
    }

    #logo-div {
        flex: 0;
    }

    #home-content {
        flex: 0;
    }

    #home-content * {
        text-align: center;
        justify-content: center;
    }

    #logo-div img {
        max-height: 200px;
    }
}

iframe {
    width: 100%;
    border: 1px solid black;
    border-radius: calc(1rem);
}

.team-card {
    margin: 1rem 0;
    padding: 2rem;
    border: 2px solid var(--color-black);
    border-radius: calc(2rem);

    font-size: 1rem;

    background-color: var(--color-white);
    box-shadow: 0 0 5px 5px #f8f8f8;

    display: flex;
    overflow: auto;
    align-items: stretch;
    align-content: stretch;
    gap: 2rem;
}

.team-card img {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    max-width: 200px;
}

.team-card .left {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.team-card .right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-card .right *:not(:last-child) {
    margin-bottom: 1rem;
}


.team-card .right h3 {
    text-align: left;
}